body {
	font-size: 16px;
	line-height: 1.6;
	padding: 2em;
}

.notification {
	margin-bottom: 1.6em;
	border: 1px solid green;
	padding: .25em .5em;
	background: lightgreen;
	color: green;
}

.notification.error {
	border-color: red;
	background-color: pink;
	color: red;
}